@charset "utf-8";

/* Form */
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; 
    font-size:13px; color:#373737; text-indent:20px; vertical-align:middle;
    border:1px solid #e9e9e9;
    background:#fff;  
    transition: all 0.5s; 
}

/* RESET-S */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,hr,input,button,textarea{margin: 0; padding: 0;
	border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body,input,select,textarea,button {border:none;}
img{vertical-align:top}
*, ::after, ::before{box-sizing:border-box}
/* RESET-E */

/* :::::::::: COMMON-S :::::::::: */
body {min-width:320px;
    font:400 16px/1.5 'Noto Sans KR', sans-serif;
    letter-spacing:-0.5px;
    position:relative;
    overflow-x:hidden
}
a{text-decoration: none; color: inherit}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden; display:block;
    position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);
}
.clear::before, .clear::after { content:""; display:block; clear:both}
.skip{width:100%; height:50px; 
    position:absolute; left:0; top:-100%;  z-index:100;
    font-size:15px; color:#fff; text-align:center; line-height:50px; transition:all .5s;
    background:#000
}
.skip:focus{top:0}
.inner{width:1400px; margin:0 auto;
    transition:all 0.5s
}
.top{width:72px; height:80px;
    position:fixed; right:40px; bottom:50px; z-index:100;
    background:url(./../images/scroll_down.png) no-repeat center center
}
.top i{width:14px; height:28px;
    position:absolute; left:45%; top:45%;
    transform:translate(-50%,-50%);
    background:url(./../images/scroll_i.png) no-repeat center center;
    transition:all .5s;
    animation:scroll 1s ease-in-out infinite
}
.top.on i{transform:translate(-50%,-50%) rotate(180deg)}
@keyframes scroll{
    0%{top:45%}
    50%{top:49%}
    100%{top:45%}
}
/* :::::::::: COMMON-S :::::::::: */

/* :::::::::: HEADER-S :::::::::: */
#header{width:100%; padding-top:15px;
    position:fixed; left:0; top:0; z-index:100;
    transition:all .5s
}
#header h1{position:absolute; top:31px; left:40px;
    transition:all .5s
}
#header h1 a{display:block}
/* GNB-S */
.gnb{padding-top:15px;
    text-align:center
}
.gnb>ul{display:inline-block;
    vertical-align:top; font-size:0
}
.gnb .depth1{float:left;
    position:relative
}
.gnb .depth1>a{display:block; padding:0 61.5px;
    font-size:17px; line-height:88px; color:#fff; font-family:'Titillium Web'
}
.gnb .depth2{display:none;
    position:absolute; width:126px; top:0;
    left:-175px; top:132px; z-index:100;
}
.gnb .depth1:nth-child(2) .depth2{width:440px}
.gnb .depth1:nth-child(3) .depth2{left:148px}
.gnb .depth1:nth-child(4) .depth2{left:155px}
.gnb .depth2>a{display:block;
    text-align:left; font-size:20px; color:#fffefe; line-height:18px
}
.gnb .depth2>ul{height:190px; margin-top:20px; padding:20px 0 0 20px;
    color:#bababa; font-size:16px; text-align:left;
    border-top:1px solid #531984; border-left:1px solid #531984
}
.gnb .depth1:nth-child(2) .depth2>ul>li{float:left; width:36%}
.gnb .depth1:nth-child(2) .depth2>ul>li+li{margin-left:40px}
.gnb .depth2>ul a{line-height:40px}
.gnb .depth1:nth-child(2) .depth2>ul>li>a{color:#fff}
.gnb-bg{width:100%; height:0;
    position:absolute; left:0; top:118px; z-index:10;
    background-image:url(./../images/menu_open_bg.png)
}
/* GNB-E */
.lang{position:absolute; right:110px; top:64px;
    transition:all .5s
}
.lang li{float:left}
.lang li+li::before{content:""; display:inline-block; width:1px; height:7px; margin:0 11px;
    background-color:#9e90c3;
    vertical-align:2px;
}
.lang li a{opacity:0.8;
    color:#8b7aa1;
    position:relative
}
.lang li.on a{color:#fff}
.lang li.on a::before{content:""; width:3px; height:3px;
    background-color:#fff;
    position:absolute; left:50%; top:-4px;
    transform:translateX(-50%);
    border-radius:50%
}
/* MENU-S */
.hdBtn{cursor:pointer; width:30px; height:8px; outline:0;
    position:absolute; right:42px; top:70px;
    background-color:transparent;
    transition:all .5s
}
.hdBtn span{width:100%; height:1px; display:block;
    background-color:#fff;
    position:absolute; left:0
}
.hdBtn span:nth-child(1){top:0}
.hdBtn span:nth-child(2){bottom:0}
.mobileBtn{display:none}
.mobileMenu{width:450px; height:100%; padding:120px 0 0 55px; display:none;
    position:fixed; right:0; top:0; z-index:110;
    background:url(./../images/menu_open_bg.png) no-repeat rgba(7,5,21,0.95)
}
.mobileMenu>ul>li>a{color:#fff; font-size:20px; font-weight:700; line-height:60px}
.mobileMenu ul ul{padding-left:16px; display:none}
.mobileMenu ul ul li{margin-bottom:17px}
.mobileMenu ul ul li a{color:#666; font-size:17px; font-weight:500; line-height:18px}
.mobileMenu .hd-close{width:26px; height:26px; cursor:pointer; outline:0;
    position:absolute; top:40px; right:40px;
    background-color:transparent
}
.mobileMenu .hd-close span{width:100%; height:1px;
    position:absolute; right:0; top:13px;
    background-color:#fff;
    transition:all .5s
}
.mobileMenu .hd-close span:nth-child(1){transform:rotate(45deg)}
.mobileMenu .hd-close span:nth-child(2){transform:rotate(-45deg)}
/* MENU-E */

#header.on{padding-top:0;
    background-color:#070515 
}
#header.on h1{top:16px}
#header.on .gnb{padding-top:0}
#header.on .lang{top:35px}
#header.on .hdBtn{top:40px}

#header:hover{padding-top:0;
    background-color:#070515 
}
#header:hover h1{top:16px}
#header:hover .gnb{padding-top:0}
#header:hover .depth2{display:block}
#header:hover .gnb-bg{height:319px;
    top:87px
}
#header:hover .lang{top:35px}
#header:hover .hdBtn{top:40px}

.mobileMenu ul ul li a:hover{text-decoration:underline; color:#383838}
.mobileMenu .hd-close:hover span{transform:rotate(0)}
/* :::::::::: HEADER-E :::::::::: */
/* :::::::::: FOOTER-S :::::::::: */
#footer{padding:80px 0 55px;
    background-color:#13101f;
    position:relative;
}
#footer::after{content:""; width:699px; height:144px;
    position:absolute; left:0; top:-32px;
    background-image:url(./../images/ft_bg.png);
}
#footer .f-logo{margin:-60px 0 88px;
    position:relative; z-index:1
}
#footer .f-addr{float:left}
#footer .f-addr li{color:#a199b0; line-height:30px; font-size:14px; font-weight:300}
#footer .f-menu{float:right}
#footer .f-menu .f-depth1{float:left; width:120px; margin-right:40px;}
#footer .f-menu .f-depth1:nth-child(2){width:320px;}
#footer .f-menu .f-depth1:last-child{margin:0}
#footer .f-menu .f-depth1 h4{margin-bottom:20px;
    color:#fffefe; line-height:50px; font-size:15px;
    border-bottom:1px solid #5f5c6f;
}
#footer .f-menu .f-depth1:nth-child(2) .f-depth2>li{float:left}
#footer .f-menu .f-depth1:nth-child(2) .f-depth2>li:first-child{margin-right:25px;}
#footer .f-menu .f-depth2>li>a{color:#928fa1; font-weight:300; font-size:15px; line-height:34px;}
#footer .f-menu .f-depth1:nth-child(2) .f-depth2>li>a{font-weight:400; color:#cbc8db; font-size:15px;}
#footer .f-menu .f-depth3 li a{color:#928fa1; font-weight:300; font-size:15px; line-height:34px;}
#footer .f-copy{color:#7c7a8a; font-size:14px; font-weight:300; line-height:34px;}
/* :::::::::: FOOTER-E :::::::::: */

@media all and (max-width:1550px){
    #footer::after{width:500px;
        background-position:right top;
    }
}

@media all and (max-width:1416px){
    .inner{width:100%}
    .gnb .depth1>a{padding:0 40px}
}

@media all and (max-width:1241px){
    #footer .f-addr{margin-bottom:40px;}
    #footer .f-menu{width:100%}
    #footer .f-menu .f-depth1{width:29.3333%; margin-right:3%}
    #footer .f-menu .f-depth1:nth-child(2){width:31.3333%}
    #footer .f-menu .f-depth1:nth-child(3){margin-right:3%}
    #footer .f-menu .f-depth2>li>a{font-size:13px;}
    #footer .f-menu .f-depth3 li a{font-size:13px;}
}

@media all and (max-width:1216px){
    #header{height:118px}
    #header.on{height:87px}
    .gnb{display:none}
    .pcBtn{display:none}
    .mobileBtn{display:block}
    #header:hover{height:87px}
}

@media all and (max-width:640px){
    #header{height:80px}
    #header h1{left:20px}
    #header h1 a img{height:32px}
    #header.on{height:60px}
    .lang{top:30px; right:70px}
    .lang li+li::before{vertical-align:middle}
    .lang li a{font-size:12px}
    .lang li.on a::before{display:none}
    .hdBtn{top:40px; right:20px}
    .mobileMenu{width:90%}
    
    #header.on h1{top:16px}
    #header.on .lang{top:16px}
    #header.on .hdBtn{top:25px}

    #header:hover{height:60px}
    #header:hover h1{top:16px}
    #header:hover .lang{top:16px}
    #header:hover .hdBtn{top:25px}
    #footer::after{width:400px; height:95px;}
    #footer .f-logo{margin-top:-80px;}
    #footer .f-logo img{height:34px;}
}

@media all and (max-width:414px){
    #footer::after{width:300px; height:90px;}
    #footer .f-logo{margin-bottom:60px;}
    #footer .f-logo img {height:28px;}
    #footer .f-addr li{font-size:12px; line-height:23px;}
    #footer .f-addr{margin-bottom:20px;}
    #footer .f-menu .f-depth1{width:100%; margin:0}
    #footer .f-menu .f-depth1:nth-child(2){width:100%}
    #footer .f-menu .f-depth1:nth-child(3){margin-right:0}
    #footer .f-copy{margin-top:20px;
        font-size:11px;
    }
}